@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Press+Start+2P&display=swap');
html {
    margin: 0;
    padding: 0;
    background-color: midnightblue;
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    padding: 0;
    background-color: midnightblue;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

#outer {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-content:center;
    height: 640px;
    width: 320px;
    margin: 0px;
    padding: 0px;
} 

#splash, #game, #win, #game-over {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    text-align: center;
    color: limegreen;
    text-shadow: 10px 5px black; 
    margin: 10px 0px;
    padding: 0;
}

h2 { 
    font-family: 'Press Start 2P';
    color: limegreen;
    text-shadow: 10px 5px black; 
    font-size: 2em;
    font-weight: lighter;
    margin-bottom:;
}

p {
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 16px;
    padding: 0px 0px;
    margin: 0px;
    margin-top: 20px;
}

#kitty {
    max-width: 50%;

}
#album {
    margin: 20px;
    max-width: 50%;
} 

#albumlink {
    text-align: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: fit-content;
}
#crying-cat {
    width: 70%;
    max-width: 300px;
    margin: 20px 0px;
    margin-top: -30px;
    padding: 0px;
    border: none;
    background-color: none;


}



.btn {
    text-align: center;
    width: 50%;
    max-width: 300px;
    border: none;
    color:black;
    font-family: 'Press Start 2P';
    background-color: limegreen;
    box-shadow: 10px 5px black;
    padding: 12px;
    margin: 20px;
}

footer {
    margin: 5px;
    color: white;
    font-family: 'Lobster';
    text-align: center;    
    justify-self: flex-end;
}

footer a{
    font-size: 1.2em;
    text-decoration: none;
    color: limegreen;
    text-align: center;
}

a:active {
    position: relative;
    top: 2px;
    left: 2px;
}