@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Press+Start+2P&display=swap');
html, body {
    margin: 0;
    padding: 0;
    background-color: midnightblue;
    font-family: 'Press Start 2P', cursive;
}

#the-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    text-align: center;
    
}

#splash {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    max-width: 640px;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 4em;
    text-align: center;
    color: limegreen;
    text-shadow: 10px 5px black; 
    margin: 5px
}

h2 { 
    font-family: 'Press Start 2P';
    color: limegreen;
    text-shadow: 10px 5px black; 
    font-size: 2em;
    font-weight: lighter;
    margin-bottom:;
}

p {
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 16px;
    padding: 0px 3px;
    margin-top: 5px;
}

#kitty, #album{
    max-width: 45%;
}

#album {
    margin: 20px;
}

.btn {
    text-align: center;
    width: 50%;
    border: none;
    color:black;
    font-family: 'Press Start 2P';
    background-color: limegreen;
    box-shadow: 10px 5px black;
    padding: 12px;
    margin: 15px;
}
footer {
    margin: 5px;
    color: white;
    font-family: 'Lobster';
    justify-self: flex-end;
}

footer a{
   
    text-decoration: none;
    color: limegreen;
    text-align: center;
}

a:active {
    position: relative;
    top: 2px;
    left: 2px;
}