@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Press+Start+2P&display=swap');
html {
    margin: 0;
    padding: 0;
    background-color: coral;
    font-family: 'Press Start 2P', cursive;
}

body {
    margin: 0;
    padding: 0;
    background-color: blueviolet;
}

.flexed {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: midnightblue;
    width: 320px;
    height: 640px;
    margin: 0px;
} 

#splash, #game, #win, #game-over {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 40px;
    text-align: center;
    color: limegreen;
    text-shadow: 10px 5px black; 
    margin: 10px 0px;
    padding: 0;
}

h2 { 
    font-family: 'Press Start 2P';
    color: limegreen;
    text-shadow: 10px 5px black; 
    font-size: 2em;
    font-weight: lighter;
    margin-bottom:;
}

p {
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 16px;
    padding: 0px 0px;
    margin: 0px;
    margin-top: 20px;
}

#kitty, #album{
    max-width: 50%;

}

#album {
    margin: 20px;
    margin-bottom: 0px;
    align-content: center;;
}

.btn {
    text-align: center;
    width: 50%;
    border: none;
    color:black;
    font-family: 'Press Start 2P';
    background-color: limegreen;
    box-shadow: 10px 5px black;
    padding: 12px;
    margin: 20px;
}

#btnRestart1, #btnRestart2 {
    position: relative;
}
footer {
    margin: 5px;
    color: white;
    font-family: 'Lobster';
    text-align: center;    
    justify-self: flex-end;
}

footer a{
    font-size: 1.2em;
    text-decoration: none;
    color: limegreen;
    text-align: center;
}

a:active {
    position: relative;
    top: 2px;
    left: 2px;
}